# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle standard-formatter'
      'command': 'standard-formatter:format'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'standard-formatter'
      'submenu': [
        {
          'label': 'Format'
          'command': 'standard-formatter:format'
        }
      ]
    ]
  }
]
